@import 'common.less';

.register-dialog {
  .ngdialog-close {
    padding: 0 !important;
    border: none !important;
  }
  
  .input-container {
    position: relative;
    min-height: 40px;
    line-height: 40px;
    margin-top: 8px;
    font-size: 14px;

    input {
      position: absolute;
      width: 200px;
      height: 30px;
      left: 180px;
      font-size: 14px;
      margin-top: 5px;
    }
    .require-sign {
      position: absolute;
      left: 390px;
    }
  }

  .password-strength {
    position: relative;
    width: 200px;
    height: 10px;
    left: 180px;
    .weak-password {
      display: inline-block;
      width: 33%;
      height: 100%;
      background: red;
      float: left;
    }
    .middle-password {
      display: inline-block;
      width: 33%;
      height: 100%;
      background: #f4c842;
      float: left;
    }
    .strong-password {
      display: inline-block;
      width: 33%;
      height: 100%;
      background: green;
      float: left;
    }
  }
  
  .email-warning,
  .username-warning,
  .password-warning,
  .retyped-password-warning {
    position: relative;
    left: 180px;
    color: #a94442;
    font-size: 12px;
    line-height: 150%;
  }

  .password-matched {
    position: relative;
    left: 180px;
    color: green;
    font-size: 12px;
    line-height: 150%;
  }

  .register-button {
    position: relative;
    left: 300px;
    margin-top: 20px;
  }


}