<!DOCTYPE html>
<html lang="en" data-ng-app="my_tec_blog">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!--Less Source Code-->
  {{!--<link rel="stylesheet" href="../lib/lib_angular/stylesheets/ngDialog.css">
  <link rel="stylesheet" href="../lib/lib_angular/stylesheets/ngDialog-theme-default.css">
  <link rel="stylesheet/less" href="../lib/lib_angular/stylesheets/base.less">
  <link rel="stylesheet/less" type="text/css" href="../client/stylesheets/index.less" />
  <link rel="stylesheet/less" type="text/css" href="../client/stylesheets/login.dialog.less" />
  <link rel="stylesheet/less" type="text/css" href="../client/stylesheets/register.dialog.less" />

  <link rel="stylesheet/less" type="text/css" href="../client/stylesheets/user.less" />--}}

</head>
<body>

  {{{body}}}

  <script type="text/javascript">
    window.GLOBAL = {
      loginStatus: {{loginStatus}}
    };
  </script>


  {{!--<script src="../lib/lib_vendor/angular.min.js"></script>
  <script src="../lib/lib_vendor/angular-ui-router.min.js"></script>
  <script src="../lib/lib_vendor/less.min.js"></script>
  <script src="../client/router.js"></script>
  <script src="../client/controllers/IndexCtrl.js"></script>
  <script src="../lib/lib_angular/core/ngDialog.js"></script>

  <script src="../client/controllers/UserCtrl.js"></script>--}}

  <script src="../lib/lib_vendor/angular.min.js"></script>
  <script src="{{PROJECT_ROOT}}/public/{{moduleName}}/bundle.js"></script>


  
</body>
</html>