<!--<div>login status: <span ng-bind="loginStatus"></span></div>-->
<div class="main-page">
  <section class="single-post" ng-repeat="post in posts">

    <span class="post-title" ng-bind="post.post_title"></span>
    <div class="like-icon-container">
      <div class="like-icon" ng-if="!post.isLiked" ng-click="likeThisPost($index)"></div>
      <div class="like-icon liked-post" ng-if="post.isLiked" ng-click="likeThisPost($index)"></div>
    </div>
    <em class="post-author">
      <span class="author-name" ng-bind="post.author"></span>
      <span class="create-time" ng-bind="post.created"></span>
    </em>
    <p class="post-content" ng-bind="post.post_content"></p>


  </section>

  <div class="login-and-register" ng-class="{'login-and-register-on-hover': showTwoIcons, 'login-status-icon': loginStatus}"
    ng-mousemove="showTwoIcons = (true && !loginStatus)" ng-mouseleave="showTwoIcons = false">
    <div class="login-icon" ng-click="login(loginStatus)"></div>
    <div class="icon-separater" ng-if="showTwoIcons"></div>
    <div class="register-icon" ng-if="showTwoIcons" ng-click="register()"></div>
  </div>

  <!--<button class="login" ng-click="login()">Login</button>
  <button class="sign-up" ng-click="signUp()">Sign Up</button>
  <button class="sign-up" ng-click="logout()">Logout</button>

  <button class="user-exist" ng-click="userExist()">User Exist</button>-->
</div>