<div class="useraccount">
  <div class="user-icon"></div>
  <!--<div>Welcome, <span ng-bind="username"></span></div>

  The Articles Posted By You:
  <div ng-repeat="post in posts">
    <span ng-bind="post.post_title"></span>
  </div>

  <button class="sign-up" ng-click="logout()">Logout</button>

  <form>
    <input placeholder="title" ng-model="postTitle">
    <textarea placeholder="article content" ng-model="postContent"></textarea>
  </form>
  <button ng-click="submitPost()">CLICK TO SUBMIT</button>-->

</div>