<div class="useraccount">

  <div class="left-panel">
    <div class="user-icon"></div>
    <div class="user-name" ng-bind="username"></div>
    
    <button class="logout-btn" ng-click="logout()">Logout</button>
  </div>

  <div class="right-panel">
    <div class="post-created-by-user">Posts Created By You</div>
    <div class="posts-list">
      <li class="list-unit" ng-repeat="post in posts" ng-mouseover="showEditIcon($index)" ng-mouseleave="hideEditIcon($index)">
        <h3 class="post-title">
          <a ng-bind="post.post_title"></a>
        </h3>
        <div class="post-content">
          <span class="content-excerpt" ng-bind="post.post_content_excerpt + '...'"></span>
          <span class="read-more" ng-click="readMore($index)">(Read More)</span>
        </div>
        <div class="post-basic-info">
          <span class="post-tag-icon"></span>
          <span class="post-tag" ng-bind="post.tags"></span>
          <span class="created-at">Created At <span ng-bind="(post.created).slice(0,10)"></span></span>
          <span class="update-at" ng-if="post.modified">Update At <span ng-bind="post.modified"></span></span>
          <span class="edit-icon" ng-show="{{'showEditIcon' + $index}}" ng-click="editPost($index)"></span>
        </div>
      </li>
    </div>
  </div>




  <!--<div>Welcome, <span ng-bind="username"></span></div>

  The Articles Posted By You:
  <div ng-repeat="post in posts">
    <span ng-bind="post.post_title"></span>
  </div>

  <button class="sign-up" ng-click="logout()">Logout</button>

  <form>
    <input placeholder="title" ng-model="postTitle">
    <textarea placeholder="article content" ng-model="postContent"></textarea>
  </form>
  <button ng-click="submitPost()">CLICK TO SUBMIT</button>-->

</div>